<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--配置数据库信息 必须的-->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://175.24.16.69:3306/miniprogram?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456</property>
        <!--配置数据库信息 可选的-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!--配置数据库信息 必须的-->
        <mapping resource="com/pojo/Students.hbm.xml"></mapping>
        <mapping resource="com/pojo/Teachers.hbm.xml"></mapping>
        <mapping resource="com/pojo/Question.hbm.xml"></mapping>
        <mapping resource="com/pojo/P_record.hbm.xml"></mapping>
        <mapping resource="com/pojo/Prize.hbm.xml"></mapping>
        <mapping resource="com/pojo/Q_record.hbm.xml"></mapping>
        <mapping resource="com/pojo/Manager.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>